@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Josefin Sans Regular'), local('JosefinSans-Regular'), url(https://fonts.gstatic.com/s/josefinsans/v14/Qw3aZQNVED7rKGKxtqIqX5EUDXx4Vn8sig.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Josefin Sans SemiBold'), local('JosefinSans-SemiBold'), url(https://fonts.gstatic.com/s/josefinsans/v14/Qw3FZQNVED7rKGKxtqIqX5Ec0lhte10hoJky_A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Josefin Sans Bold'), local('JosefinSans-Bold'), url(https://fonts.gstatic.com/s/josefinsans/v14/Qw3FZQNVED7rKGKxtqIqX5Ectllte10hoJky_A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Josefin Sans', 'Courier New',
    monospace;
}

h1, h2 {
  margin: 0px !important;
}
.line-breaker{
  background-color: #797980;
  height: 1.3px;
  width: 90%;
  margin: 30px auto 20px;
  border-radius: 4px;


}
.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}
.radio-toolbar label {
  display: inline-block;
  background-color: #ddd;
  padding: 10px 20px;
  font-family: sans-serif, Arial;
  font-size: 16px;
  border: 2px solid #444;
  border-radius: 4px;
}
.radio-toolbar input[type="radio"]:checked + label {
  background-color:#bfb;
  border-color: #4c4;
}
.radio-toolbar input[type="radio"]:focus + label {
  border: 2px dashed #444;
}
.radio-toolbar label:hover {
  background-color: #dfd;
}

.building-btn {
  position: absolute;
  bottom: 50%;
  left: 46%;
  z-index: 2;
  background-color: #ffffff00;
  width: 30%;
  height: 30%;
  border: 0px;
}

.map {
  width: 90%;
  margin: 0 auto;
}

.map-row {
  display: flex;
  max-height: 45vh ;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.map-tile-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}

img.map-tile {
  width: 100%;
}
div.col{
  padding: 0px;
}

.btn-jurassik {
  background-color: #E1A003 !important;
  color: white !important;
}

.btn-dark-jurassik {
  background-color: #12331a !important;
  color: white !important;
}

.intro-title {
  width: 100%;
  color: #E1A003;
  font-weight: 700;
}

.intro-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  background-color: #080808;
  height: 100vh;
}

.intro-page-content {
  width: 40%;
  height: 46%;
  margin: 60px;
  padding: 20px;
  border: 10px solid #920005;
  background-color: #12331a;
  color: white;
}

.intro-page-content button.btn.btn-jurassik {
  margin: 10px;
}

#intro-input {
  text-align: center;
}

.disabled-button {
  pointer-events: none;
}

.game-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #12331a;
}

.game-title {
  text-decoration: underline;
  color: #E2A404;
  border: 6px solid #95030A;
  text-align: center;
  padding: 4px 8px;
}

.game-stats.container {
  color: white;
  text-align: center;
  font-weight: 700;
}

.dinosaur-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.dinosaur-item {
  width: 26%;
  margin: 8px;
}

.dinosaur-item p {
  margin: 0px;
}

.dinosaur-item-disabled {
  width: 30%;
  margin: 8px;
}

.dinosaur-item-disabled p {
  margin: 0px;
}

.game-box {
  margin: 0px 0px;
  max-width: 100%;
}

.row {
  width: 100%;
  margin: 0px !important;
}

.row {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  margin-right: -15px;
  margin-left: -15px;
}

.modal-footer {
  justify-content: center !important;
}

.modal-header {
  background-color: #12331a;
  color: #E2A404;
}

.modal-title {
  text-align: center;
  width: 100%;
}

.modal-title .h4 {
  font-weight: 700;
  padding-left: 50%;
}

.modal-dialog {
  max-width: 80% !important;
}

.enclosure-details {
  width: 100%;
  display: flex;
}

.add-dinosaur-list {
  width: 60%;
}

.enclosure-details-content {
  width: 40%;
}

.bold {
  font-weight: 700;
}

.actual-dinosaur-list {
  padding-top: 20px;
}

.icon-button {
  width: 26% !important;
  margin: 0px 6px !important;
}