body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.building-btn {
  position: absolute;
  bottom: 50%;
  left: 46%;
  z-index: 2;
  background-color: #ffffff00;
  width: 30%;
  height: 30%;
  border: 0px;
}

.map {
  width: 90%;
  margin: 0 auto;
}

.map-row {
  display: flex;
  max-height: 45vh ;
}

.map-tile-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}

img.map-tile {
  width: 100%;
}
div.col{
  padding: 0px;
}


.disabled-button {
  pointer-events: none;
}

.game-header {
  display: flex;
  align-items: center;
  padding: 10px 40px;
  background-color: lightsteelblue;
}

.game-title {
  width: 30%;
  text-decoration: underline;
}

.dinosaur-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.dinosaur-item {
  width: 30%;
  margin: 8px;
}

.dinosaur-item p {
  margin: 0px;
}

.dinosaur-item-disabled {
  width: 30%;
  margin: 8px;
}

.dinosaur-item-disabled p {
  margin: 0px;
}